<!DOCTYPE html>
<html ng-app="arevea">
    <head>
        <meta charset="utf-8">
        <title>Arevea Vendor Portal</title>
        <meta name="description" content="ProUI is a Responsive Bootstrap Admin Template created by pixelcave and published on Themeforest.">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
        <!-- <link rel="shortcut icon" href="images/tata-docomo.png"> -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery.ui.all.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
        <!--<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap3.3.2.min.css">-->
        <link rel="stylesheet" href="css/plugins.css">
        <link rel="stylesheet" href="css/fontFamily.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/daterangepicker.css">
        <link href="css/flatpickr.css" rel="stylesheet" type="text/css"/>
        <link href="js/dhtmlxScheduler/skins/dhtmlxscheduler.css" rel="stylesheet" type="text/css"/>
        <!-- <link rel="stylesheet" href="css/bootstrap-datetimepicker.css"> -->
        <link rel="stylesheet" type="text/css" href="js/datetime/jquery.datetimepicker.css">
        <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
        <!--<script src="https://maps.google.com/maps/api/js?v=3&key=AIzaSyCHby0Z1W5twfyARhTqyvSJfOkMPs3DEwo&libraries=geometry,places&region=IN&language=en&sensor=true"></script>-->
        <link rel="stylesheet" href="css/texteditcss/textAngular.css" type="text/css">
        <link href="css/select.min.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/styleLayout.css">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://maps.google.com/maps/api/js?v=3&key=AIzaSyCXAiHZnIs6bKlxim2QugFAshuisibgwmY&libraries=geometry,places&region=IN&language=en&sensor=true"></script>
        <style type="text/css">
            .userdispsec {
                display: none;
            }
        </style>
    </head>
    <body ng-controller="mainCtrl" ng-init="init()" resize>   
        <div id="page-container" class="mainContainer catalog sidebar-partial sidebar-visible-lg sidebar-no-animations clearfix">
            <div class="logoSection container-fluid noPad" ng-show="loginStatus">
                <div class="logoContainer col-sm-3 col-md-2 col-lg-2 col-xs-12 noPad">
                    <a href="#/dashboard">
                        <img ng-src="{{admin.vendor.logo}}" class="img-responsive">
                    </a>
                </div>
                <div class="col-sm-9 col-md-10 col-lg-10 col-xs-12 noPad">
                    <!--<div class="col-sm-6 pageTitle">{{pageHeading[1]| uppercase}}</div>-->
                    <div class="col-sm-8 col-xs-8 pageTitle">
                        <span class="ng-cloak">
                            {{$state.current.data.pageTitle}}
                        </span>

                        <!--123 - {{admin.vendor.profile_pic_path| json}}-->
                    </div>
                    <div class="col-sm-4 col-xs-4 profileImage">
                        <a href="javascript:void(0)" 
                           class="profileIcon"
                           ng-style="{'background': 'url('+admin.vendor.profile_pic_path+') center center', 'background-size':'cover'}"></a>
                        <ul class="profileNav">
                            <li><a href="javascript:void(0)" ng-click="signout();">Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bodyContainer container-fluid noPad">
                <div class="leftNavSection mainNav col-sm-3 col-md-2 col-lg-2 col-xs-12 noPad" ng-class="{'open': openMainMenu}">
                    <div class="navCtrl" ng-click="openMainMenu = !openMainMenu">
                        <span ng-if="openMainMenu">X</span>
                        <span ng-if="!openMainMenu">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </span>
                    </div>
                    <nav id="custom-bootstrap-menu" class="navbar navbar-default nav2" ng-show="loginStatus">
                        <!-- navbar-static-top container -->
                        <div class="navHolder">
                            <!--                            <div class="navbar-header">
                                                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                                                <span class="sr-only">Toggle navigation</span>
                                                                <span class="icon-bar"></span>
                                                                <span class="icon-bar"></span>
                                                                <span class="icon-bar"></span>
                                                            </button>
                                                        </div>-->
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav" ng-hide="admin.bankStatus == false">
                                    <li ng-class="{active1: activePath == '/dashboard' }">
                                        <a href="#/dashboard" class="sel" >Dashboard </a>
                                    </li>
                                </ul>
                                <span class="menuSeperator" ng-hide="admin.bankStatus == false">My Stuff</span>
                                <ul class="nav navbar-nav" ng-hide="admin.emailStatus == false">
                                    <li ng-class="{ active1: ($state.current.name == 'myBookings') || ($state.current.name == 'myBookings.payments') || ($state.current.name == 'myBookings.all') || ($state.current.name == 'myBookings.scheduled') || ($state.current.name == 'myBookings.completed') }" ng-hide="admin.bankStatus == false">
                                        <a class="sel" href="#/myBookings/all/"> My Bookings</a>
                                        <ul>
                                            <li ng-class="{active: $state.current.name == 'myBookings' || $state.current.name == 'myBookings.all' || $state.current.name == 'myBookings.payments'}"><a   href="#/myBookings/all/">All</a>
                                            </li>
                                            <li ng-class="{active: $state.current.name == 'myBookings.scheduled'}"><a ui-sref="myBookings.scheduled">Scheduled</a>
                                            </li>
                                            <li ng-class="{active: $state.current.name == 'myBookings.completed'}"><a ui-sref="myBookings.completed">Completed</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li ng-class="{ active1: ($state.current.name == 'myPayments')}" ng-hide="admin.bankStatus == false">
                                        <a class="sel" href="#/myPayments"> My Payments</a>
                                        <!--                                        <ul>
                                                                                    <li ng-class="{active: $state.current.name == 'myBookings' || $state.current.name == 'myBookings.all' || $state.current.name == 'myBookings.payments'}"><a   href="#/myBookings/all/">All</a>
                                                                                    </li>
                                                                                    <li ng-class="{active: $state.current.name == 'myBookings.scheduled'}"><a ui-sref="myBookings.scheduled">Scheduled</a>
                                                                                    </li>
                                                                                    <li ng-class="{active: $state.current.name == 'myBookings.completed'}"><a ui-sref="myBookings.completed">Completed</a>
                                                                                    </li>
                                                                                </ul>-->
                                    </li>
                                    <li ng-hide="admin.bankStatus == false" 
                                        ng-class="{active1: activePath == '/calendar/AvailabilityCalendar' || activePath == '/calendar/AvailabilityTiming' || activePath == '/calendar/available_time_list' || activePath == '/calendar/addcalendarEvent' || activePath == '/calendar/calendarEventList' || activePath == '/calendar/update_available_time' || $state.current.name == 'calendar.updatecalendarEvent' || $state.current.name == 'calendar.update_available_time'}">
                                        <a class="sel" href="#/calendar/AvailabilityTiming">
                                            My Calendar 
                                            <!--- {{activePath | json}} - {{$state.current.name | json}}-->
                                        </a>
                                        <ul>
                                            <li ng-class="{active: activePath == '/calendar/AvailabilityTiming'}">
                                                <a href="#/calendar/AvailabilityTiming">Maintain Working Hours</a>
                                            </li>
                                            <li ng-class="{active: activePath == '/calendar/available_time_list' || $state.current.name == 'calendar.update_available_time'}">
                                                <a href="#/calendar/available_time_list">Working Hours</a>
                                            </li>
                                            <!--                                            <li ng-class="{active: activePath == '/calendar/AvailabilityCalendar' || $state.current.name == 'calendar.update_available_time'}">
                                                                                            <a href="#/calendar/AvailabilityCalendar">Full Calendar</a>
                                                                                        </li>-->
                                            <li ng-class="{active: activePath == '/calendar/addcalendarEvent'}">
                                                <a href="#/calendar/addcalendarEvent">Add Unavailable Timeslots</a>
                                            </li>
                                            <li ng-class="{active: activePath == '/calendar/calendarEventList' || $state.current.name == 'calendar.updatecalendarEvent'}">
                                                <a href="#/calendar/calendarEventList">Unavailable Timeslots</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li ng-class="{ active1: activePath == '/product_service_catalog/Products' || activePath == '/product_service_catalog/addProduct' || activePath == '/product_service_catalog/updateProduct' }" ng-hide="admin.bankStatus == false" ui-sref-active="active">
                                        <a class="sel"  href="#/product_service_catalog/Products">My Products &amp; Services</a>
                                        <ul>
                                            <li ng-class="{active: activePath == '/product_service_catalog/Products'}">
                                                <a href="#/product_service_catalog/Products">All</a>
                                            </li>
                                            <li ng-class="{active: activePath == '/product_service_catalog/addProduct' }">
                                                <a href="#/product_service_catalog/addProduct">Add New</a>
                                            </li>
                                            <!--                                            <li ng-class="{active: activePath == '/product_service_catalog/uploadDownload' }">
                                                                                            <a href="javascript:void(0)">Upload/Download</a>
                                                                                        </li>-->
                                        </ul>
                                    </li>
                                    <li ng-hide="admin.bankStatus == false" ng-class="{'active1': $state.current.name == 'customRequests.all' || $state.current.name == 'customRequests.completed' || $state.current.name == 'customRequests.pending' }">
                                        <a class="sel" 
                                           ui-sref="customRequests.all">My Custom Requests</a>
                                        <!--href="#/customRequests/all/"-->
                                        <ul>
                                            <li ng-class="{ 'active': $state.current.name == 'customRequests.all'}">
                                                <a href="#" ui-sref="customRequests.all({'id':$state.params.id})">All</a>
                                            </li>
                                            <li ng-class="{ 'active' : $state.current.name == 'customRequests.pending'}">
                                                <a href="#" ui-sref="customRequests.pending">Manage Requests </a>
                                            </li>
                                            <li ng-class="{ 'active' : $state.current.name == 'customRequests.completed'}">
                                                <a href="#" ui-sref="customRequests.completed">Completed Requests</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li ng-hide="admin.bankStatus == false" ng-class="{ active1: activePath == '/myMessages' || activePath == '/myAccount' || activePath == '/mySupport' }">
                                        <a href="#/myMessages" class="sel"> My Messages  </a>
                                        <ul>
                                            <!--                                        <li><a href="#/myMessages">All</a>
                                                </li>-->
                                            <li ng-class="{ active: activePath == '/myMessages'}"><a href="#/myMessages">Inquiries </a>
                                            </li>
                                            <li ng-class="{ active: activePath == '/mySupport'}"><a href="#/mySupport">Support </a>
                                            </li>
                                            <li ng-class="{ active: activePath == '/myAccount'}"><a href="#/myAccount">Account</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                                <span class="menuSeperator">Settings</span>
                                <ul class="nav navbar-nav">
                                    <!--ui-sref="vendorSettings.Location"-->
                                    <li ng-class="{'active1' : activePath == '/vendorSettings/Location' || activePath == '/vendorSettings/addLocation' || activePath == '/vendorSettings/updateLocation/' || activePath == '/vendorSettings/updateLocation/' + $state.params.id}" ng-hide="admin.bankStatus == false">
                                        <a  href="#/vendorSettings/Location">Location</a>
                                        <ul>
                                            <li ng-class="{ 'active' : activePath == '/vendorSettings/Location' || activePath == '/vendorSettings/updateLocation/' + $state.params.id}">
                                                <a href="#/vendorSettings/Location">All </a>
                                            </li>
                                            <li ng-class="{ 'active': activePath == '/vendorSettings/addLocation'}">
                                                <a href="#/vendorSettings/addLocation">Add New</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li ng-class="{active1: activePath == '/vendorSettings/My-Account/basicInfo'}" ui-sref-active="active"><a  href="#/vendorSettings/My-Account/basicInfo" ng-click="tabaction('1')">Account</a></li>
                                    <li ng-class="{active1: activePath == '/vendorSettings/My-Account/businessInfo'}" ui-sref-active="active"><a  href="#/vendorSettings/My-Account/businessInfo" ng-click="tabaction('2')">Business Info</a></li>
                                    <li ui-sref-active="active1"><a href="javascript:void(0)">Security</a></li>
                                    <li ng-class="{active1: activePath == '/vendorSettings/My-Account/bankInfotab'}" ui-sref-active="active"><a ng-click="tabaction('3')" href="#/vendorSettings/My-Account/bankInfotab">Bank Details</a></li>
                                    <li ng-class="{active1: activePath == '/vendorSettings/My-Account/subscription'}" ui-sref-active="active"><a href="" ui-sref="vendorSettings.subscription">Subscription</a></li>
                                </ul>
                                <!--                                <ul class="nav navbar-nav">                                 
                                                                    <li ng-class="{active1: activePath == '/vendorSettings/My-Account/basicInfo' || activePath == '/vendorSettings/My-Account/businessInfo' || activePath == '/vendorSettings/My-Account/bankInfotab' || activePath == '/vendorSettings/Location' || activePath == '/vendorSettings/updateLocation' || activePath == '/vendorSettings/subscription' }">
                                                                        <a href="#/vendorSettings/My-Account/basicInfo" ng-click="tabaction('1')">Settings  </a>
                                
                                                                    </li>
                                                                </ul>-->
                            </div>
                            <!--/.nav-collapse -->
                        </div>
                    </nav>
                </div>
                <div id="page-content" class="bodySection contentHolder col-sm-9 col-md-10 col-lg-10 col-xs-12 noPad">
                    <div ui-view autoscroll="false"></div>
                </div>
            </div>
        </div>




        <script type="text/javascript" src="js/markerwithlabel.js"></script>
        <script src="js/vendor/jquery-1.11.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
        <script src="js/angular.js"></script>
        <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
        <script src="js/ui-bootstrap-tpls-0.13.0.min.js"></script>
        <script src="js/ui-bootstrap-tpls-1.2.5.js"></script>
        <script src="js/angular-ui-router.js"></script>
        <script type='text/javascript' src="js/dirPagination.js"></script>
        <script type="text/javascript" src="js/angular-animate.min.js"></script>
        <script type="text/javascript" src="js/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="js/angular-strap.min.js"></script>
        <script type="text/javascript" src="js/angular-strap.tpl.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.42/js/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript" src="js/daterangepicker.js"></script>
        <script src="js/flatpickr.min.js" type="text/javascript"></script>
        <script src="js/ng-flatpickr.js" type="text/javascript"></script>
        <script src="js/dhtmlxScheduler/dhtmlxscheduler.js" type="text/javascript"></script>


        <script src="js/ng-map.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/app.js"></script>
        <script src="js/pages/uiProgress.js"></script>
        <script src="js/masonry.pkgd.js"></script>
        <script src="js/ng-flow-standalone.min.js" type="text/javascript"></script>
        <script src="js/select.min.js" type="text/javascript"></script>
        <script src="js/braintree-web/client.js" type="text/javascript"></script>
        <script src="js/braintree-web/hosted-fields.js" type="text/javascript"></script>
        <script src="js/braintree-web/paypal.js" type="text/javascript"></script>
        <script src="js/braintree-web/data-collector.js" type="text/javascript"></script>
        <!-- <script src="js/ckeditor/ckeditor.js"></script>
            <script src="js/ckeditor/adapters/jquery.js"></script> -->
        <!-- END User Settings -->
        <script src="js/angular-file-upload.min.js"></script>
        <script src="config/route.js"></script>
        <script src="config/Base64.js"></script>
        <script src="config/settings.js"></script>
        <script src="controllers/appCtrl.js"></script>
        <script src="controllers/commonService.js" type="text/javascript"></script>

        <script src="js/jquery.timepicker.min.js" type="text/javascript"></script>
        <link href="css/jquery.timepicker.css" rel="stylesheet" type="text/css"/>

        <script type='text/javascript' src='js/textedit/textAngular-rangy.min.js'></script>
        <script type='text/javascript' src='js/textedit/textAngular-sanitize.min.js'></script>
        <script type='text/javascript' src='js/textedit/textAngular.min.js'></script>
        <script src="controllers/loginCtrl.js"></script>
        <script src="controllers/homeCtrl.js"></script>
        <script type="text/javascript" src="templates/myAccounts/myAccountCtrl.js"></script>
        <script type="text/javascript" src="controllers/verificationCtrl.js"></script>
        <script type="text/javascript" src="controllers/vendorSettingCtrl.js"></script>
        <script type="text/javascript" src="templates/location/locationCtrl.js"></script>
        <script type="text/javascript" src="templates/product/productsCtrl.js"></script>
        <script type="text/javascript" src="templates/dashboard/dashboardCtrl.js"></script>
        <script type="text/javascript" src="templates/myBookings/myBookingsCtrl.js"></script>
        <script src="templates/myPayments/myPaymentsCtrl.js" type="text/javascript"></script>
        <script type="text/javascript" src="templates/customRequests/customRequestsCtrl.js"></script>
        <script type="text/javascript" src="templates/calendarBusinessTime/businessTimeCtrl.js"></script> 
        <script type="text/javascript" src="templates/calendarBusinessTime/businessTimeCtrl2.js"></script>
        <script type="text/javascript" src="templates/calendarEvent/calendarEventCtrl.js"></script>
        <script type="text/javascript" src="templates/location/Securitysettings.js"></script>
        <script type="text/javascript" src="templates/myMessages/myMessagesCtrl.js"></script>
        <script type="text/javascript" src="templates/location/profileSettingsCtrl.js"></script>
        <script src="js/jquery_datetimepicker_customized.js"></script>
        <script src="templates/calendarBusinessTime/calendar.availability.directive.controller.js" type="text/javascript"></script>
        <script src="templates/datePicker/datePickerDirective.js" type="text/javascript"></script>
        <script src="templates/datePicker/datePickerCtrl.js" type="text/javascript"></script>
        <script src="templates/calendarBusinessTime/calendarDirective.js" type="text/javascript"></script>
        <script type="text/javascript">
                                        //                                                var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
                                        //                                                (function(){
                                        //                                                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                                        //                                                s1.async = true;
                                        //                                                s1.src = 'https://embed.tawk.to/58b7c93e6b2ec15bd9f32106/default';
                                        //                                                s1.charset = 'UTF-8';
                                        //                                                s1.setAttribute('crossorigin', '*');
                                        //                                                s0.parentNode.insertBefore(s1, s0);
                                        //                                                })();
        </script>
    </body>
</html>
