<div class="col-xs-12 noPad" ng-init="getTeamMembersList();">
    <div class="col-md-9 noPad">
        <div class="col-xs-12 noPad myTeam-list">
            <div class="col-xs-12 myTeam-filter-part">
                <span uib-dropdown on-toggle="toggled(open)" class="filterOption">
                    <!-- 
                    <span id="simple-dropdown" uib-dropdown-toggle ng-hide="selectedTeam.teams || filteredTeam.team_name">
                            <div class="Filter-Group"> <span>FILTER TEAMS</span> </div>
                            <div class="down-arrow"> <img src="img/arrow_down.png"> </div>
                    </span>
                    <span id="simple-dropdown" ng-show="selectedTeam.teams || filteredTeam.team_name">
                            <div class="Filter-Group activeClrOrange"> <span>{{selectedTeam.teams ? selectedTeam.teams : filteredTeam.team_name}}</span> </div>
                            <div class="down-arrow filter-clear" ng-click="selectedTeam.teams='';filteredTeam.team_name='';"> <i class="fa fa-times" aria-hidden="true"></i> </div>
                    </span>
                    -->
                    <span id="simple-dropdown" uib-dropdown-toggle ng-hide="selectedTeam.teams" ng-click="filteredTeam.team_name = ''">
                        <div class="Filter-Group"> <span>FILTER TEAMS</span> </div>
                        <div class="down-arrow"> <img src="img/arrow_down.png"> </div>
                    </span>
                    <span id="simple-dropdown" ng-show="selectedTeam.teams">
                        <div class="Filter-Group activeClrOrange"> <span>{{selectedTeam.teams}}</span> </div>
                        <div class="down-arrow filter-clear" ng-click="selectedTeam.teams = '';filteredTeam.team_name = '';"> <i class="fa fa-times" aria-hidden="true"></i> </div>
                    </span>
                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown" ng-hide="selectedTeam.teams">
                        <li ng-click="$event.stopPropagation()">
                            <input type="text" name="" class="form-control" placeholder="Search here" ng-model="filteredTeam.team_name">
                        </li>
                        <li role="menuitem" ng-repeat="item in teamList| filter:filteredTeam.team_name"><a href="javascript:void(0)" ng-click="filterTeam(item);">{{item.team_name}}</a></li>
                    </ul>
                </span>
                <!-- 
                <span uib-dropdown on-toggle="toggled(open)" class="filterOption">
                        <span id="simple-dropdown" uib-dropdown-toggle ng-hide="selectedTeam">
                                <div class="Filter-Group"> <span>FILTER TEAMS</span> </div>
                                <div class="down-arrow"> <img src="img/arrow_down.png"> </div>
                        </span>
                        <span id="simple-dropdown" ng-show="selectedTeam">
                                <div class="Filter-Group activeClrOrange"> <span>{{selectedTeam.teams}}</span> </div>
                                <div class="down-arrow filter-clear" ng-click="selectedTeam=null"> <i class="fa fa-times" aria-hidden="true"></i> </div>
                        </span>
                        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown" ng-hide="selectedTeam">
                                <li role="menuitem" ng-repeat="item in teamList"><a href="javascript:void(0)" ng-click="filterTeam(item);">{{item.team_name}}</a></li>
                        </ul>
                </span>
                -->
                <span class="searchOption" uib-dropdown on-toggle="toggled(open2)">
                    <!-- 
                    <span id="simple-dropdown2" uib-dropdown-toggle ng-hide="selectedTeamMember.full_name">
                            <div class="Search-Contacts"> <span>SEARCH TEAM MEMBERS</span> </div>
                            <div class="down-arrow"> <img src="img/arrow_down.png"> </div>
                    </span>
                    <span id="simple-dropdown2" ng-show="selectedTeamMember.full_name">
                            <div class="Filter-Group activeClrOrange"> <span>{{selectedTeamMember.full_name}}</span> </div>
                            <div class="down-arrow filter-clear" ng-click="selectedTeamMember.full_name='';searchByPersonName='';"> <i class="fa fa-times" aria-hidden="true"></i> </div>
                    </span>
                    -->
                    <span id="simple-dropdown2" uib-dropdown-toggle ng-hide="selectedTeamMember.full_name" ng-click="searchByPersonName.full_name = ''">
                        <div class="Search-Contacts"> <span>SEARCH TEAM MEMBERS</span> </div>
                        <div class="down-arrow"> <img src="img/arrow_down.png"> </div>
                    </span>
                    <span id="simple-dropdown2" ng-show="selectedTeamMember.full_name">
                        <div class="Filter-Group activeClrOrange"> <span>{{selectedTeamMember.full_name}}</span> </div>
                        <div class="down-arrow filter-clear" ng-click="selectedTeamMember.full_name = '';searchByPersonName = '';"> <i class="fa fa-times" aria-hidden="true"></i> </div>
                    </span>
                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown2" ng-hide="selectedTeamMember.full_name">
                        <li ng-click="$event.stopPropagation()">
                            <input type="text" name="" class="form-control" placeholder="Search here" ng-model="searchByPersonName.full_name">
                        </li>
                        <li role="menuitem"  ng-repeat="item in teamMembersList| filter:searchByPersonName"><a href="javascript:void(0)" ng-click="filterTeamMembers(item);">{{item.full_name}}</a></li>
                    </ul>
                </span>
            </div>

            <div class="col-xs-12 noPad">
                <div class="col-xs-12 team-member" ng-repeat="item in teamMembersList| filter:selectedTeamMember.full_name | filter:selectedTeam.teams">
                    <!--{{item | json}}-->
                    <!-- 
                    <div class="member-photo float-left">
                            <img ng-src="{{member.photo}}" alt="member photo">
                    </div>
                    -->
                    <div class="member-name float-left">
                        <span>{{item.full_name}}</span>
                    </div>
                    <div class="member-name float-left member-email">
                        <span>{{item.email}} </br> {{item.phone_number}}</span>
                    </div>
                    <div class="member-name member-team float-left">
                        <div ng-repeat="name in item.teams.split(',')"><span>{{name}}</span></div>
                    </div>

                    <!-- 					<div class="member-options float-right">
                                                                    
                                                                    <span uib-dropdown on-toggle="toggled(open3)">
                                                                            <a href="javascript:void(0)" id="simple-dropdown" uib-dropdown-toggle>
                                                                                    <span class="fa fa-ellipsis-h" style="color:#707276;"></span>
                                                                            </a>
                                                                            <ul class="item-options dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                                                                    <li><a href="javascript:void(0)" ng-click="editTeamMember(item)"> Edit </a> </li>
                                                                                    <li><a href="javascript:void(0)" ng-click="deleteTeamMember(item)"> Delete </a> </li>
                                                                            </ul>
                                                                    </span>
                                                                    
                                                            </div> -->
                    <div class="float-right float-right member-buttons">
                        <div class="member-btn">
                            <a class="send-message" href="#/assignmentView/{{item.id}}" style="padding: 8px 10px;">VIEW ASSIGNMENTS</a>
                        </div>
                        <div class="member-options">
                            <div ng-click="editTeamMember(item)"><i class="fa fa-pencil" aria-hidden="true" data-toggle="tooltip" title="Edit"></i></div>
                            <div style="display: none;" ng-click="deleteTeamMember(item)"><i class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" title="Delete"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 noPad">
        <div class="col-xs-12">
            <div class="Button-Value-White">
                <div class="create-new-contact" ng-click="addNewTeamMember();">ADD NEW TEAM MEMBER</div>
            </div>
        </div>
    </div>
</div>