<div class="col-xs-12 noPad" ng-init="getTeamList()">
    <form class="form-horizontal" role="form" name="form" novalidate ng-submit="saveTeamMember(form);" autocomplete="off">
        <div class="col-md-9 add-teamMember-part noPad">
            <div class="col-xs-12 col-sm-12 noPad marB20">
                
                <div class="col-sm-12 noPad">
                    <div class="col-sm-6 field add-teamMember-field">
                        <div class="form-group noMar" ng-class="{'has-error':(formSubmited && form.first_name.$error.required)}">
                            <div class="team-input-lable"><p class="noMar">FIRST NAME</p></div>
                            <input type="text" name="first_name" class="form-control" ng-model="teamMember.first_name" required="true" placeholder="Enter first name">
                            <div class="col-xs-12 noPad">
                                <span class="text-danger ng-hide" ng-show="formSubmited && form.first_name.$error.required">
                                    Please enter first name
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 field add-teamMember-field">
                        <div class="form-group noMar" ng-class="{'has-error':(formSubmited && form.last_name.$error.required)}">
                            <div class="team-input-lable"><p class="noMar">LAST NAME</p></div>
                            <input type="text" name="last_name" class="form-control" ng-model="teamMember.last_name" required="true" placeholder="Enter last name">
                            <div class="col-xs-12 noPad">
                                <span class="text-danger ng-hide" ng-show="formSubmited && form.last_name.$error.required">
                                    Please enter last name
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 noPad">
                    <div class="col-sm-6 field add-teamMember-field">
                        <div class="form-group noMar" ng-class="{'has-error':(formSubmited && form.email.$error.required)}">
                            <div class="team-input-lable"><p class="noMar">EMAIL</p></div>
                            <input type="email" name="email" ng-pattern="emailFormat" class="form-control" ng-model="teamMember.email"  placeholder="Enter email" required>
                            <!--<input type="email" name="input" ng-model="text" ng-pattern="emailFormat" required>-->
                            <div class="col-xs-12 noPad">
                                <span class="text-danger ng-hide" ng-show="formSubmited && form.email.$error.required">
                                    Please enter email address
                                </span>
                                <span class="text-danger" ng-show="!!form.$error.pattern">
                                    Please enter valid email
                                </span>
    <!--                            {{form.$error | json}}<br>
                                myForm.$error.pattern = {{!!form.$error.pattern}}-->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 field add-teamMember-field">
                        <div class="form-group noMar" ng-class="{'has-error':(formSubmited && form.phone_number.$error.required)}">
                            <div class="team-input-lable"><p class="noMar">PHONE NUMBER</p></div>
                            <input type="text" name="phone_number" team-phone="12" class="form-control" ng-model="teamMember.phone_number" required="true" placeholder="Enter phone number">
                            <div class="col-xs-12 noPad">
                                <span class="text-danger ng-hide" ng-show="formSubmited && form.phone_number.$error.required">
                                    Phone number should have minimum of 10 digits
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 noPad">
                    <div class="col-sm-6 add-teamMember-field">
                        <div class="form-group noMar">
                            <div class="team-input-lable"><p class="noMar">TEAM</p></div>
                            <!--{{teamList | json}}-->
                            <!--                        <select class="form-control" ng-model="teamMember.team" name="accessRole">
                                                        <option ng-repeat="(k, v) in teamMembers" value="{{v.id}}">{{v.category_name}}</option>
                                                    </select>-->
                            <select class="form-control" 
                                    placeholder="Select team" 
                                    ng-model="teamMember.teams" 
                                    ng-options="v.id as v.team_name for (k,v) in teamList"
                                    multiple>
                            </select>

                            <!--{{teamMember.teams| json}}-->
                        </div>
                    </div>
                    <div class="col-sm-6 add-teamMember-field">
                        <div class="form-group noMar">
                            <div class="team-input-lable"><p class="noMar">ROLE</p></div>
                            <select class="form-control" name="accessRole" disabled="true">
                                <option>Select Role</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 noPad" ng-show="teamMember.id">
                <div class="col-xs-12 noPad" ng-init="showSearchField = false;">
                    <div class="add-people-search-part">
                        <div class="add-people">
                            <span class="noMar">ADD PEOPLE</span>
                        </div>
                        <div class="search-icon" ng-click="showSearchField = !showSearchField;">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 noPad marT10" ng-show="showSearchField">
                    <div class="col-xs-12 noPad search-field">
                        <div class="col-xs-12 box-shadow">
                            <input type="text" name="" class="form-control" placeholder="Search Team" ng-model="selectedTeam" uib-typeahead="team as team.team_name for team in teamList | filter:$viewValue | limitTo:8" typeahead-on-select="addTeamToPerson(selectedTeam);">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 noPad">
                    <div class="col-xs-12 noPad search-field">
                        <div class="add-people">
                            <span class="noMar">IN THE TEAM</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 noPad">
                    <div class="col-xs-12 noPad team-member" ng-repeat="team in allSelectedTeams">
                        <div class="col-xs-12 member-name add-member-name">
                            <div class="col-xs-12 ">
                                <span>
                                    <i class="fa fa-trash-o" aria-hidden="true" role="button" ng-click="removeTeamFromPerson(team)"></i> &nbsp; {{team.team_name}} 
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 noPad">
            <div class="col-xs-12 noPad">
                <div class="col-xs-7 teamMember-create">
                    <button type="submit" class="teamMember-create-btn" ng-click="formSubmited = true;">{{teamMember.id ? 'UPDATE' :  'CREATE'}}</button>
                </div>
                <div class="col-xs-5 teamMember-create">
                    <div class="teamMember-create-back" ng-click="back();">BACK</div>
                </div>
            </div>
        </div>
    </form>
</div>