<div class="col-xs-12 noPad">
	<form class="form-horizontal" role="form" name="form" novalidate ng-submit="saveTeamMember(form);">
		<div class="col-md-9 add-teamMember-part noPad">
			<div class="col-xs-12 noPad marB20">
				<div class="col-sm-6 add-teamMember-field">
					<div class="form-group noMar" ng-class="{'has-error':(formSubmited  && form.first_name.$error.required)}">
						<div class="team-input-lable"><p class="noMar">FIRST NAME</p></div>
						<input type="text" name="first_name" class="form-control" ng-model="teamMember.first_name" required="true">
					</div>
				</div>
				<div class="col-sm-6 add-teamMember-field">
					<div class="form-group noMar" ng-class="{'has-error':(formSubmited  && form.last_name.$error.required)}">
						<div class="team-input-lable"><p class="noMar">LAST NAME</p></div>
						<input type="text" name="last_name" class="form-control" ng-model="teamMember.last_name" required="true">
					</div>
				</div>
				<div class="col-sm-6 add-teamMember-field">
					<div class="form-group noMar" ng-class="{'has-error':(formSubmited  && form.email.$error.required)}">
						<div class="team-input-lable"><p class="noMar">EMAIL</p></div>
						<input type="email" name="email" class="form-control" ng-model="teamMember.email" required="true">
					</div>
				</div>
				<div class="col-sm-6 add-teamMember-field">
					<div class="form-group noMar" ng-class="{'has-error':(formSubmited  && form.phone_number.$error.required)}">
						<div class="team-input-lable"><p class="noMar">PHONE NUMBER</p></div>
						<input type="text" name="phone_number" my-length="10" class="form-control" ng-model="teamMember.phone_number" required="true">
					</div>
				</div>
				<!-- 
				<div class="col-sm-6 add-teamMember-field">
					<div class="form-group noMar">
						<div class="team-input-lable"><p class="noMar">ACCESS ROLE</p></div>
						<select class="form-control" name="accessRole">
							<option>Team Lead</option>
							<option>Team Member</option>
						</select>
					</div>
				</div>
				 -->
			</div>
			<div class="col-xs-12 noPad" ng-show="teamMember.id">
				<div class="col-xs-12 noPad" ng-init="showSearchField=false;">
					<div class="add-people-search-part">
						<div class="add-people">
							<span class="noMar">ADD PEOPLE</span>
						</div>
						<div class="search-icon" ng-click="showSearchField=!showSearchField;">
							<i class="fa fa-search" aria-hidden="true"></i>
						</div>
					</div>
				</div>
				<div class="col-xs-12 noPad marT10" ng-show="showSearchField">
					<div class="col-xs-12 noPad search-field">
						<div class="col-xs-12 box-shadow">
							<input type="text" name="" class="form-control" placeholder="Search Team Member" ng-model="selectedTeam" uib-typeahead="team as team.team_name for team in teamList | filter:$viewValue | limitTo:8" typeahead-on-select="addTeamToPerson(selectedTeam);">
						</div>
					</div>
				</div>
				<div class="col-xs-12 noPad">
					<div class="col-xs-12 noPad search-field">
						<div class="add-people">
							<span class="noMar">IN THE GROUP</span>
						</div>
					</div>
				</div>
				<div class="col-xs-12 noPad">
					<div class="col-xs-12 noPad team-member" ng-repeat="team in allSelectedTeams">
						<div class="col-xs-12 member-name add-member-name">
							<div class="col-xs-1 noPad"> <i class="fa fa-trash-o" aria-hidden="true" role="button" ng-click="removeTeamFromPerson(team)"></i> </div>
							<div class="col-xs-11 noPad"> {{team.team_name}} </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 noPad">
			<div class="col-xs-12 noPad">
				<div class="teamMember-create">
					<button type="submit" class="teamMember-create-btn" ng-click="formSubmited = true;">{{teamMember.id ? 'UPDATE' :  'CREATE'}}</button>
				</div>
				<div class="teamMember-create">
					<div class="teamMember-create-back" ng-click="back();">Back</div>
				</div>
			</div>
		</div>
	</form>
</div>