<div class="col-xs-12 noPad" ng-init="getTeamList();">
	<div class="col-md-9 noPad">
		<div class="col-xs-12 noPad myTeam-list">
			<div class="col-xs-12 myTeam-filter-part">
				<span uib-dropdown on-toggle="toggled(open)" class="filterOption">
					<span id="simple-dropdown" uib-dropdown-toggle ng-hide="selectedTeam || filteredTeam.team_name">
						<div class="Filter-Group"> <span>FILTER TEAMS</span> </div>
						<div class="down-arrow"> <img src="img/arrow_down.png"> </div>
					</span>
					<span id="simple-dropdown" ng-show="selectedTeam || filteredTeam.team_name">
						<div class="Filter-Group activeClrOrange"> <span>{{selectedTeam.team_name ? selectedTeam.team_name : filteredTeam.team_name}}</span> </div>
						<div class="down-arrow filter-clear" ng-click="selectedTeam='';filteredTeam.team_name='';"> <i class="fa fa-times" aria-hidden="true"></i> </div>
					</span>
					<ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown" ng-hide="selectedTeam">
						<li ng-click="$event.stopPropagation()">
							<input type="text" name="" class="form-control" placeholder="Search here" ng-model="filteredTeam.team_name">
						</li>
						<li role="menuitem" ng-repeat="item in teamList | filter:filteredTeam.team_name"><a href="javascript:void(0)" ng-click="filterTeams(item);">{{item.team_name}}</a></li>
					</ul>
				</span>
				<span class="searchOption" uib-dropdown on-toggle="toggled(open2)">
					<span id="simple-dropdown2" uib-dropdown-toggle  ng-hide="selectedTeamMember || filteredTeamMember.full_name">
						<div class="Search-Contacts"> <span>SEARCH TEAM MEMBERS</span> </div>
						<div class="down-arrow"> <img src="img/arrow_down.png"> </div>
					</span>
					<span id="simple-dropdown2" ng-show="selectedTeamMember || filteredTeamMember.full_name">
						<div class="Filter-Group activeClrOrange"> <span>{{selectedTeamMember ? selectedTeamMember : filteredTeamMember.full_name}}</span> </div>
						<div class="down-arrow filter-clear" ng-click="selectedTeamMember='';filteredTeamMember.full_name='';"> <i class="fa fa-times" aria-hidden="true"></i> </div>
					</span>
					<ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown2" ng-hide="selectedTeamMember">
						<li ng-click="$event.stopPropagation()">
							<input type="text" name="" class="form-control" placeholder="Search here" ng-model="filteredTeamMember.full_name">
						</li>
						<li role="menuitem" ng-repeat="memberName in teamMembers | filter:filteredTeamMember.full_name"><a href="javascript:void(0)" ng-click="filterTeamMembers(memberName);">{{memberName}}</a></li>
					</ul>
				</span>
			</div>
			
			<div class="col-xs-12 noPad">
				<div class="col-xs-12 team-member" ng-repeat="item in teamList | filter:selectedTeam.team_name | filter:selectedTeamMember">
					<!-- 
					<div class="member-photo float-left">
						<img ng-src="{{member.photo}}" alt="member photo">
					</div>
					 -->
					<div class="member-name float-left">
						<span>{{item.team_name}}</span>
					</div>
					<div class="member-name float-left">
						<span>{{item.created_on | date}}</span>
					</div>
					<div class="member-options float-right">
                        <div ng-click="editTeam(item)"><i class="fa fa-pencil" aria-hidden="true" data-toggle="tooltip" title="Edit"></i></div>
                        <div ng-click="deleteTeam(item)"><i class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" title="Delete"></i></div>
						<!-- 
						<span uib-dropdown on-toggle="toggled(open3)">
							<a href="javascript:void(0)" id="simple-dropdown" uib-dropdown-toggle>
								<span class="fa fa-ellipsis-h" style="color:#707276;"></span>
							</a>
							<ul class="item-options dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
								<li><a href="javascript:void(0)" ng-click="editTeam(item)"> Edit </a> </li>
								<li><a href="javascript:void(0)" ng-click="deleteTeam(item)"> Delete </a> </li>
							</ul>
						</span>
						 -->
					</div>
					<div class="member-btn float-right">
						<div class="send-message" ng-click="editTeam(item)">ADD/REMOVE TEAM MEMBERS</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3 noPad">
		<div class="col-xs-12">
			<div class="Button-Value-White">
				<div class="create-new-contact" ng-click="addNewTeam();">ADD NEW TEAM</div>
			</div>
		</div>
	</div>
</div>