<div>
    <div class="blockAccount col-xs-12 noPad">
        <!-- <div class="block-title">
            <h2><strong>My Account</strong> </h2>
        </div> -->
        <!-- <div id="badge_list" class="pager">
            <div class="badge " id="aa">
                <a href="javascript:void(0)">1</a>
                <br>
                <label>Basic Info</label>
            </div>
            <div class="badge " id="bb">
                <a href="javascript:void(0)">2</a>
                <br>
                <label>Business Info</label>
            </div>
            <div class="badge" id="cc">
                <a href="javascript:void(0)">3</a>
                <br>
                <label>Bank Details</label>
            </div>
            <span id="liner" class=""></span> -->


        <div class="col-xs-12 noPad">
            <div ui-view autoscroll="false"></div>
        </div>

        <!-- </div> -->

        <!-- <form class="form-horizontal form-bordered row" onsubmit="return false;" enctype="multipart/form-data" novalidate style="margin-top:10px">
    <br>
    <div class="noPadd" ng-if="tab == 1" ng-include="'templates/myAccounts/basicInfo.html'">
    </div>
    <div class="col-xs-12" ng-if="tab == 2" ng-include="'templates/myAccounts/businessInfo.html'">
    </div>

    <div class="col-xs-12" ng-if="tab == 3" ng-include="'templates/myAccounts/bankInfotab.html'">
    </div>

</form>-->

    </div>

</div>